 @import url('https://fonts.googleapis.com/css?family=Heebo:400,700|Open+Sans:400,700'); 

:root {
  --color: #3c3163;
  --transition-time: 0.5s;
  --white:#e9e9e9;
  --gray: #333;
  --blue: #0367a6;
  /* --lightblue: #008997; */
  /* SIZES */
	--max-width: 400px;
	--max-height: 240px;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    }

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  margin: 0;
  min-height: 100vh;
  font-family: 'Open Sans';
  background: #fafafa;
}

a {
  color: inherit;
}


/* NAVBAR STARTS HERE */
* {box-sizing: border-box;}

.global-image  {
  font-size: 30px;
  padding: 0 20px;
}

.blessed-span {
  font-size: 25px;
}


/* MEDIA FOR NAVBAR */
@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;  
  }
}

form p{
  /* margin: 20rem; */
  padding-top: 100px;
  font-size: 25px;
  letter-spacing: 1px;
}

/* FIRST PAGE STARTS HERE */
header {
  text-align: center;
  background-image: 
  url(https://img.freepik.com/free-photo/africa-humanitarian-aid-doctor-taking-care-patient_23-2149117843.jpg?size=626&ext=jpg&ga=GA1.2.125561382.1720099152&semt=sph);
  background-attachment: scroll;
  background-position: center center;
  background-repeat: none;
  --webkit-background-size: cover;
  --moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  color: #fff;
}

header .intro-text {
  padding-top: 100px;
  padding-bottom: 50px;
  padding-bottom: 100px;
  letter-spacing: 2px;
}

header .intro-text .intro-heading {
  margin-bottom: 25px;
  text-transform: uppercase;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 50px;
  font-weight: 700;
  /* line-height: 50px; */
}    /*FIRST PAGE ENDS HERE*/


/*  GRID STARTS HERE */
.cards-wrapper {
  display:flex ;
  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 4rem;
  padding:4rem;
  margin: 0 auto;
  width: max-content;
}

.card {
  font-family: 'Heebo';
  --bg-filter-opacity: 0.5;
  background-image: linear-gradient(rgba(0,0,0,var(--bg-filter-opacity)),rgba(0,0,0,var(--bg-filter-opacity))), var(--bg-img);
  height: 20em;
  width: 20em;
  font-size: 1.5em;
  color: white;
  border-radius: 1em;
  padding: 3em;
  background-position: center; 
  box-shadow: 0 0 5em -1em black;
  transition: all, var(--transition-time);
  position: relative;
  overflow: hidden;
  border: 10px solid #ccc;
  text-decoration: none;
  display: flex;
  text-align: center;
  /* align-items: flex-end; */
  background-size: cover;
  background-position: center;
}

.card:hover {
  transform: rotate(0);
}

.card h1 {
  margin: 0;
  font-size: 1.5em;
  line-height: 1.2em;
  padding-top: 10px;
  letter-spacing: 3px;
  line-height: 1.2em;
}

.card p {
  font-size: 0.80em;
  font-family: 'Open Sans';
  margin-top: 0.9em;
  line-height: 1.5em;
  letter-spacing: 1px;
}

.card .tags .tag {
  font-size: 0.75em;
  background: rgba(255,255,255,0.5);
  border-radius: 0.3rem;
  padding: 0 0.5em;
  margin-right: 0.5em;
  line-height: 1.5em;
  transition: all, var(--transition-time);
}

.card:hover .tags .tag {
  background: var(--color);
  color: white;
}

.card .date { /*CARD DATE STARTS HERE */
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.75em;
  padding: 1em;
  line-height: 1em;
  opacity: .8;
}

.card:before, .card:after {
  content: '';
  transform: scale(0);
  transform-origin: top left;
  border-radius: 50%;
  position: absolute;
  left: -50%;
  top: -50%;
  z-index: -5;
  transition: all, var(--transition-time);
  transition-timing-function: ease-in-out;
}

.card:before {     /*  */
  background: #ddd;
  width: 250%;
  height: 250%;
}

.card:after {
  background: white;
  width: 200%;
  height: 200%;
}

.card:hover {
  color: var(--color);
}

/* This is where the Card transformtion takes place */
.card:hover:before, .card:hover:after {
  transform: scale(1);
}

.card-grid-space .num {
  font-size: 3em;
  margin-bottom: 1.2rem;
  margin-left: 1rem;
}

.card-grid-space  {
  padding-bottom: 2rem;
}

.card:hover {
  color: var(--color);
  background-color: white;
}

/* CARD WRAPPER RESPONSIVENESS STARTS FROM HERE*/

@media screen and (max-width: 1285px) {
  .cards-wrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }
}


@media screen and (max-width: 900px) {
  .cards-wrapper {
    grid-template-columns: 1fr 1fr;
  }
  .info {
    justify-content: center;
  }
  .card-grid-space .num {
    margin-left: 0;
    text-align: center;
  }
}

@media screen and (max-width: 500px) {
  .cards-wrapper {
    padding: 4rem 2rem;
  }
  .card {
    max-width: calc(100vw - 4rem);
  }
}

@media screen and (max-width: 450px) {
  .info {
    display: block;
    text-align: center;
  }
  .info h1 {
    margin: 0;
  }
}

 @media only screen and (min-width: 360px){
  .cards-wrapper {
    grid-template-columns: repeat(auto-fit, minmax(150px 1fr));
  }
  .card-grid-space{
    text-align: center;
    align-items: center;
    justify-content: center;
  }
}



/* 1600  businesses people starts here */
.para3 p{
  text-align: center;
  justify-content: center;
  width:100% ;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 5px;
}
/* CAROUSEL */
/* .download-info {

}
 */

/* CARD DOUBLE IMAGE STARTS FROM HERE */
.container-flex {
  display: flex;
  background-color: #0367a6;
  color: #fff;
}

.category__item {
  width: 700px;
  height: 500px;
  border: 1px solid rgba(0,0,0,.125);
  overflow: hidden;
  position: relative;
  border-radius: 0.25rem;
  margin: auto;
  margin-top: 20px;
  display: block;
}

.background-part,
.background-part img {
  width: 100%;
  height: auto;
}

.background-part {
  overflow: hidden;
  position: absolute;
  transform: skewX(-50.19deg); /* this feature is used to divide the image  */
}

.background-part:first-child {
  left: -0.15em;
  transform-origin: 100% 0;
}

.background-part:last-child {
  right: -0.15em;
  bottom: -0.25em;
  transform-origin: 0 100%;
}

.background-part img {
  transform: skewX(50.19deg);
  transform-origin: inherit;
}

.side {
  width: 30%;
  text-align: center;
  padding: 10px;
  margin: auto;
  max-height: auto;
  flex: 1 1 50%;
}

.side h1{
  font-size: 40px;
}

.side p{
  width: 90%;
  text-align: left;
  margin:auto ;
  font-size: 25px;
  padding-top: 20px;
  line-height: 1.7;
  max-height: 400px;
  overflow: hidden;
}
/* CONTACT PAGE STARTS FROM HERE */

/* FINAL PAGE STARTS FROM HERE */
main {
  background: #333;
  font-size: 20px;
  padding: 5rem;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  /* background-color: #fff; */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.newsletter-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #e0f7fa;
  border-bottom: 1px solid #ccc;
  width: 80%;
  margin: auto;
  position: fixed;
}

.newsletter-header h3 {
  margin: 0;
  font-size: 1.5em;
}

.newsletter-header p {
  margin: 5px 0 0;
  color: #555;
}

.newsletter-signup {
  display: flex;
  align-items: center;
}

.input-email {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}


.btn-subscribe {
  padding: 10px 20px;
  background-color: #00796b;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-subscribe:hover {
  background-color: #004d40;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  width: 80%;
  margin: auto;
}

.footer-block {
  flex: 1;
  padding: 0 10px;
 
}

.footer-block h4 {
  margin-bottom: 10px;
  font-size: 2.em;
  color: #fff;
  margin: 40px 0;
}

.footer-block ul {
  list-style: none;
  padding: 0;
}

.footer-block ul li button {
  /* margin-left: 10px; */
  padding: 8px 4px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background: #333;
  color: #fff;
  line-height: 2rem;
}

.footer-block ul li button:hover {
  background-color: #8a8787;
}

/* OUR SERVICES STARTS FROM HERE  */
#services {
  padding: 10rem 0;
}

/* DROPDOWN CONTENT STARTS HERE */
.dropbtn {
  background-color: #222;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #3e8e41;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.show {display:block;}


/* LAST FOOTER STARTS FROM HERE */
.last-code {
  display: flex;
  justify-content: space-around;
  color: white;
  margin-top: 3rem;
  width: 90%;
  margin: auto;
}

.last-flex {
  padding-top: 6rem;
}

.last-code h3 {
  font-size: 25px;
}

.social {
  gap: 5px;
  display: flex;
  font-size: 50px;
}

.linkdin {
  padding-left: 20px;
}

.line {
  background-color: white;
}
.cards-wrapper {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }

  /* CONTACT PAGE */
section#contact {
  background-color: #222;
  background-image: url(https://unsplash.imgix.net/44/C3EWdWzT8imxs0fKeKoC_blackforrest.JPG?q=75&fm=jpg&auto=format&s=986aaa92169d4e97975fa66ebd60bafd);
  background-position: center;
  background-repeat: no-repeat;
}

section#contact .section-heading {
  color: #fff;
}

section#contact .form-group {
  margin-bottom: 25px;
}

section#contact .form-group input,
section#contact .form-group textarea {
  padding: 20px;
}

section#contact .form-group input.form-control {
  height: auto;
}

section#contact .form-group textarea.form-control {
  height: 236px;
}

section#contact .form-control:focus {
  border-color: #1ee2e7;
  box-shadow: none;
}

section#contact::-webkit-input-placeholder {
  text-transform: uppercase;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;
  color: #bbb;
}

section#contact .text-danger {
  color: #e74c3c;
}

/* FOOTER DESIGN */
/* BUTTON SECTION */
.active {
  background-color: gray;
}
#firstCode, 
#clickcode{
  background-color: #222;
  color: #fff;
  padding: 10px;
  border-radius: 20px;
  border: 2px solid;
  font-size: 20px;
}
#firstCode:hover {
  background-color: gray;
}
#clickcode:hover {
  background-color: gray;
}


/* .card:hover:before, .card:hover:after {
  transform: scale(1);
} */



/* Media query for responsive design */
@media (max-width: 992px) {
  .navbar-nav {
      flex-direction: row;
      width: 100%;
  }
  
  .nav-item {
      margin: 5px 0;
  }
}
